<h2>Crear nuevo post</h2>

<form name="postForm" ng-submit="commentForm.$valid && commentCtrl.addComment(post)" novalidate>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" placeholder="Titulo" class="form-control" ng-model="nuevoPost.titulo" ng-required="true">
        </div>
        <div class="col-sm-4">
            <input type="text" placeholder="Descripción" class="form-control" ng-model="nuevoPost.descripcion" ng-required="true">
        </div>
        <div class="col-sm-4">
            <input type="text" placeholder="URL Imagen" class="form-control" ng-model="nuevoPost.imagen">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea placeholder="Texto" class="form-control" ng-model="nuevoPost.texto" ng-required="true"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button ng-show="postForm.$valid" class="btn btn-primary" ng-click="agregarPost()">Agregar post</button>
        </div>
    </div>
</form>
