<h1>Listado de alumnos</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- IMPLEMENTAR -->
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <form>
                    <!-- Implementar inputs -->
                    <!-- Implementar button con directiva ng-click -->
                </form>
            </td>
        </tr>
</table>
