<h1>Listado de alumnos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jorge</td>
            <td>Arnaldo</td>
            <td>01/01/2000</td>
        </tr>
        <tr>
            <td>Esteban</td>
            <td>Flores</td>
            <td>04/03/1999</td>
        </tr>
        <tr>
            <td>María Eugenia</td>
            <td>García</td>
            <td>01/01/2000</td>
        </tr>
        <tr>
            <td>SEBASTIAN</td>
            <td>VILLAREJO</td>
            <td>01/01/2000</td>
        </tr>
        <tr>
            <td>EMILIO</td>
            <td>TAMARIT</td>
            <td>01/01/2000</td>
        </tr>
        <tr>
            <td>LAURA</td>
            <td>BARCELO</td>
            <td>01/01/2000</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <form>
                    <!-- Implementar inputs -->
                    <!-- Implementar button con directiva ng-click -->
                </form>
            </td>
        </tr>
    </tfoot>
</table>
<form>
    <div class="row">
        <div class="col-sm-6">
            <label>Nombre</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label>Apellido</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>Domicilio</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label>Barrio</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label>Pais</label>
            <input type="text" class="form-control">
        </div>
    </div><div class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary">Guardar</button>
      </div>
    </div>
</form>
